<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montando o Lanche</title>

    <!-- VUE -->
    <script src="./vue.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <span class="navbar-brand mb-0 h1">Monte o seu lanche</span>
            </div>
        </nav>
    </header>

    <main class="container">
        <div id="app">
            <div class="row">
                <div class="col-md-6">
                    <div class="row mt-2">
                        <div class="col">
                            <img :src="bread[0]" alt="Parte superior do pão">
                            <img :src="lettuce" alt="Alface">
                            <img :src="ketchup" alt="Molho">
                            <img :src="mustard" alt="Molho">
                            <img :src="mayonnaise" alt="Molho">
                            <img :src="burger" alt="Hambúrguer">
                            <img :src="bread[1]" alt="Parte inferior do pão">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" v-if="stage === 1">
                    <!-- Tipo de pão -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header text-uppercase">Tipo de pão</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="sesame" value="sesame"
                                            v-model="inputTypeOfBread">
                                        <label class="form-check-label" for="sesame">Gergelim</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="ranchersBread"
                                            value="ranchersBread" v-model="inputTypeOfBread">
                                        <label class="form-check-label" for="ranchersBread">Australiano</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Saladas -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header text-uppercase">Saladas</div>
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="lettuce"
                                            v-model="inputSalad" id="lettuce">
                                        <label class="form-check-label" for="lettuce">Alface</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Molhos -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header text-uppercase">Molhos</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="ketchup"
                                            v-model="inputSauces" id="ketchup">
                                        <label class="form-check-label" for="ketchup">Ketchup</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="mustard"
                                            v-model="inputSauces" id="mustard">
                                        <label class="form-check-label" for="mustard">Mostarda</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="mayonnaise"
                                            v-model="inputSauces" id="mayonnaise">
                                        <label class="form-check-label" for="mayonnaise">Maionese</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tipo de hambúrguer -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header text-uppercase">Tipo de hambúrguer</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="beef" value="beef"
                                            v-model="inputBurger">
                                        <label class="form-check-label" for="beef">Bovino</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="chicken" value="chicken"
                                            v-model="inputBurger">
                                        <label class="form-check-label" for="chicken">Frango</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="soy" v-model="inputBurger"
                                            value="soy">
                                        <label class="form-check-label" for="soy">Soja</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn btn-primary" @click="orderBurger()">Fazer pedido</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" v-if="stage === 2">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header text-uppercase">Informe seus dados</div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Nome</label>
                                        <input type="text" class="form-control" id="name" v-model="inputName">
                                    </div>
                                    <div class="mb-3">
                                        <label for="address" class="form-label">Endereço</label>
                                        <input type="text" class="form-control" id="address" v-model="inputAddress">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between">
                            <button type="button" class="btn btn-warning" @click="stage = 1">Voltar</button>
                            <button type="button" class="btn btn-success" @click="confirmOrder()">Confirmar pedido</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" v-if="stage === 3">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header text-uppercase">Pedido confirmado</div>
                                <div class="card-body">
                                   <p>Agora é só aguardar, seu lanche será feito com todo carinho!</p>
                                   <p>Você será chamado em breve!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between">
                            <button type="button" class="btn btn-primary" @click="newOrder()">Novo pedido</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                inputTypeOfBread: '',
                inputSalad: [],
                inputSauces: [],
                inputBurger: '',
                stage: 1,
                inputName: '',
                inputAddress: ''
            },
            methods: {
                orderBurger() {
                    if (this.inputTypeOfBread && this.inputBurger) {
                        this.stage = 2
                    } else {
                        alert('Escolha no mínimo o tipo de pão e de hambúrguer!')
                    }
                },
                confirmOrder(){
                    if(this.inputName && this.inputAddress){
                        this.stage = 3

                        setTimeout(() => this.newOrder(), 5000)
                    } else {
                        alert('Informe seu nome e endereço!')
                    }
                },
                newOrder(){
                    this.inputTypeOfBread = ''
                    this.inputSalad = []
                    this.inputSauces = []
                    this.inputBurger = ''
                    this.stage = 1
                    this.inputName = ''
                    this.inputAddress = ''
                }
            },
            computed: {
                bread() {
                    switch (this.inputTypeOfBread) {
                        case 'sesame':
                            return ['imagens/pao_gergelim_superior.png', 'imagens/pao_gergelim_inferior.png']
                        case 'ranchersBread':
                            return ['imagens/pao_australiano_superior.png', 'imagens/pao_australiano_inferior.png']
                        default:
                            return ['imagens/padrao/pao_superior.png', 'imagens/padrao/pao_inferior.png']
                    }
                },
                lettuce() {
                    return this.inputSalad.includes('lettuce') ? 'imagens/alface.png' : 'imagens/padrao/alface.png'
                },
                ketchup() {
                    return this.inputSauces.includes('ketchup') ? 'imagens/ketchup.png' : 'imagens/padrao/molho.png'
                },
                mustard() {
                    return this.inputSauces.includes('mustard') ? 'imagens/mostarda.png' : 'imagens/padrao/molho.png'
                },
                mayonnaise() {
                    return this.inputSauces.includes('mayonnaise') ? 'imagens/maionese.png' : 'imagens/padrao/molho.png'
                },
                burger() {
                    switch (this.inputBurger) {
                        case 'beef':
                            return 'imagens/bovino.png'
                        case 'chicken':
                            return 'imagens/frango.png'
                        case 'soy':
                            return 'imagens/soja.png'
                        default:
                            return 'imagens/padrao/hamburguer.png'
                    }
                }
            }
        })
    </script>

</body>

</html>